<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShowService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8766/GreenChannelShowService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShowService"
                contract="ServiceReference1.IShowService" name="BasicHttpBinding_IShowService" />
        </client>
    </system.serviceModel>
</configuration>